@page
@model BlockchainQuiz.Pages.myPages.QuizEndModel
@{
}

<section class="markSection">
	<div>
	  <p>The quiz ends here, thank you</p>
	  <a class="btn btn-primary" href="/myPages/ParticipantView?id=@Model.getId()">Retake quiz</a>
	</div>
</section>
